@media (min-width: 769px) {
  #priceArea {
    background: #1B1B1B;
    padding: 120px 0 140px 0;
  }
  #priceArea .subTitle {
    background: #C3000F;
    width: 100%;
    padding: 18px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 26px;
    line-height: normal;
    font-weight: bold;
    margin: 0 0 50px;
    text-align: center;
  }
  #priceArea .subTitle.alignBaseline {
    align-items: baseline;
  }
  #priceArea .subTitle span.textLarge {
    font-size: 36px;
    line-height: inherit;
  }
  #priceArea .subTitle span.price {
    font-family: 'Roboto', sans-serif;
    font-size: 62px;
    line-height: 1.3;
    font-weight: 500;
    padding: 0 2px;
  }
  #priceArea .priceInfo2 .subTitle {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto 50px;
  }
  #priceArea .priceInfo + .flexWrapper {
    margin-top: 120px;
  }
  #priceArea .priceInfo1 {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
  }
  #priceArea .priceTable {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 0 0 60px;
    position: relative;
  }
  #priceArea .priceTable::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-top: 27px solid transparent;
    border-bottom: 27px solid transparent;
    border-left: 20px solid var(--main-color)!important;
    border-right: 0;
  }
  #priceArea .priceTable .priceBox {
    max-width: 360px;
    width: 100%;
    background: #C3000F;
  }
  #priceArea .priceTable .tit {
    background: #E60012;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 60px;
    font-size: 22px;
    line-height: 1.3;
    font-weight: 500;
    text-align: center;
  }
  #priceArea .priceTable .fee {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 1.3;
    font-weight: bold;
    min-height: 90px;
    margin: 0 20px;
    padding: 0 16px;
  }
  #priceArea .priceTable .viewingFee:not(:last-child) {
    border-bottom: 1px solid #fff;
  }
  #priceArea .priceTable .fee .flag {
    color: #E60012;
    background: #fff;
    font-size: 16px;
    line-height: 1.3;
    font-weight: bold;
    padding: 5px 8px 4px 8px;
  }
  #priceArea .priceTable .fontLearge {
    font-size: 52px;
    line-height: 1.3;
  }
  #priceArea .priceTable .fontMedium {
    font-size: 22px;
    line-height: 1.3;
    font-weight: bold;
  }
  #priceArea .priceTable .text {
    font-size: 22px;
    line-height: 1.5;
    font-weight: bold;
  }

  #priceArea .chFee {
    margin-bottom: 60px;
  }
  #priceArea .chFee .tit {
    font-size: 26px;
    line-height: 1.3;
    font-weight: 500;
    margin: 0 0 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  #priceArea .chFee2 .tit img {
    width: auto;
    height: 37px;
    margin-right: 12px;
  }
  #priceArea .chFee .viewingFee {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  #priceArea .chFee .viewingFee .flag {
    font-size: 32px;
    line-height: initial;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 380px;
    width: 100%;
    min-height: 80px;
    border-radius: 6px;
    text-align: center;
    padding: 17px 30px;
    word-break: break-all;
  }
  #priceArea .chFee2 .viewingFee .flag {
    background: #0099FF;
    color: #fff;
  }
  #priceArea .chFee .viewingFee .price {
    font-size: 30px;
    line-height: 1.3;
    font-weight: bold;
  }
  #priceArea .chFee .viewingFee .price .fontLearge {
    font-size: 66px;
    line-height: 1.3;
    font-weight: bold;
  }
  #priceArea .chFee2 .viewingFee .price .fontLearge {
    color: #0099FF;
  }
  #priceArea .chFee .viewingFee .price .fontSmall {
    font-size: 22px;
    line-height: 1.3;
    font-weight: bold;
  }
  #priceArea .chFee .annotation {
    font-size: 20px;
    line-height: 2.2;
    text-align: center;
    margin-top: 12px;
  }
  #priceArea .chFee .mustReadbox {
    margin: 12px auto 0;
    display: none;
  }
  #priceArea .flexWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  #priceArea .flexWrapper .c-btn a {
    min-width: 360px;
    min-height: 85px;
    font-size: 18px;
    line-height: 1.5;
  }
  #priceArea .priceInfo2 .img {
    margin: 0 0 50px;
    text-align: center;
  }
  #priceArea .mustReadbox {
    box-sizing: border-box;
    border: 2px solid #D3D3D3;
    background: #fff;
    color: #222222;
    margin: 0 auto 60px;
    max-width: 760px;
    width: 100%;
  }
  #priceArea .mustReadbox dl {
    margin: 0;
  }
  #priceArea .mustReadbox dl dt {
    position: relative;
    padding: 15px 70px 15px 65px;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
  }
  #priceArea .mustReadbox dl dt::before {
    content: "";
    width: 26px;
    height: 26px;
    position: absolute;
    top: 50%;
    left: 42px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: url(/program/st/promo/generator_common/img/payment_icon01.png) no-repeat center center;
    background-size: cover;
  }
  #priceArea .mustReadbox dl dt::after {
    content: "";
    width: 24px;
    height: 24px;
    background: #0099ff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  #priceArea .mustReadbox dl dt > span::before {
    content: "";
    width: 13px;
    height: 2px;
    background: #ffffff;
    position: absolute;
    top: 50%;
    right: 31px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  #priceArea .mustReadbox dl dt > span::after {
    content: "";
    width: 13px;
    height: 2px;
    background: #ffffff;
    position: absolute;
    top: 50%;
    right: 31px;
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
    -ms-transform: translate(-50%, -50%) rotate(-90deg);
    transform: translate(-50%, -50%) rotate(-90deg);
    transition: all .5s;
    z-index: 1;
  }
  #priceArea .mustReadbox dl dt.is-open > span::after {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    -ms-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  #priceArea .mustReadbox dl dd {
    display: none;
    padding: 0;
    color: #888;
    font-size: 14px;
    line-height: 1.57;
    border-top: 1px solid #0099ff;
  }
  #priceArea .mustReadbox dl dd.is-open{
    display: block;
  }
  #priceArea .mustReadbox dl dd .cautionTable {
    width: 100%;
    border-spacing: 0px;
    margin: 0 auto;
  }
  #priceArea .mustReadbox dl dd .cautionTable th {
    background-color: #09f;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: #fff;
    padding: 20px 5px;
    width: 25%;
  }
  #priceArea .mustReadbox dl dd .cautionTable td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  #priceArea .mustReadbox dl dd .cautionTable td .icon_type_01, #priceArea .mustReadbox dl dd .cautionTable td .icon_type_02 {
    margin: 5px 0 0;
    padding: 0 0 0 1rem;
    font-size: 14px;
    color: #888;
    line-height: 1.57;
  }
  #priceArea .mustReadbox dl dd .cautionTable td .icon_type_01::before {
    content: "※";
    margin-left: -1rem;
  }
  #priceArea .mustReadbox dl dd .cautionTable tr:last-child th,
  #priceArea .mustReadbox dl dd .cautionTable tr:last-child td {
    border-bottom: none;
  }
}

@media (max-width: 768px) {
  #priceArea {
    background: #1B1B1B;
    padding: 24vw 0;
  }
  #priceArea .subTitle {
    background: #C3000F;
    display: block;
    width: 100%;
    min-height: 29.46vw;
    font-size: 5.33vw;
    line-height: 1.5;
    font-weight: bold;
    padding: 4.53vw 5.33vw 5.2vw;
    margin: 0 0 9.33vw;
    text-align: center;
  }
  #priceArea .subTitle span.textLarge {
    font-size: 8vw;
    line-height: 1.1;
  }
  #priceArea .subTitle span.price {
    font-family: 'Roboto', sans-serif;
    font-size: 14.93vw;
    line-height: 1.3;
    font-weight: 500;
  }
  #priceArea .priceInfo2 .subTitle {
    width: 89.33vw;
    margin: 0 auto 8vw;
  }
  #priceArea .priceInfo1 {
    padding: 0 5.33vw;
  }
  #priceArea .priceInfo:not(:last-child) {
    padding-bottom: 9.33vw;
  }
  #priceArea .priceTable {
    display: flex;
    flex-direction: column;
    gap: 12.8vw;
    margin: 0 0 13.33vw;
    position: relative;
  }
  #priceArea .priceTable::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform: rotate(90deg);
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-top: 7.19vw solid transparent;
    border-bottom: 7.19vw solid transparent;
    border-left: 5.33vw solid var(--main-color)!important;
    border-right: 0;
  }
  #priceArea .priceTable .priceBox {
    max-width: none;
    width: 100%;
    background: #C3000F;
  }
  #priceArea .priceTable .tit {
    background: #E60012;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 13.33vw;
    font-size: 4.8vw;
    font-weight: 500;
    line-height: 1.8;
    text-align: center;
  }
  #priceArea .priceTable .fee {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3.46vw;
    line-height: 1.3;
    font-weight: bold;
    min-height: 21.86vw;
    margin: 0 6.13vw;
    padding: 0 4.6vw;
  }
  #priceArea .priceTable .viewingFee {
    border-bottom: 0.26vw solid #fff;
  }
  #priceArea .priceTable .fee .flag {
    color: #E60012;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 15.46vw;
    height: 6.93vw;
    font-size: 3.73vw;
    line-height: 1.3;
    font-weight: bold;
  }
  #priceArea .priceTable .fontLearge {
    font-size: 13.33vw;
    line-height: 1.3;
  }
  #priceArea .priceTable .fontMedium {
    font-size: 6.93vw;
    line-height: 1.3;
    font-weight: bold;
  }
  #priceArea .priceTable .text {
    font-size: 4.8vw;
    line-height: 1.5;
    font-weight: bold;
  }
  #priceArea .chFee {
    margin-bottom: 13.33vw;
  }
  #priceArea .chFee .tit {
    font-size: 4.8vw;
    line-height: 1.8;
    font-weight: bold;
    text-align: center;
    margin: 0 0 5.33vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  #priceArea .chFee2 .tit img {
    width: auto;
    height:  9.46vw;
    margin-right: 1.33vw;
  }
  #priceArea .chFee .viewingFee {
    display: flex;
    flex-direction: column;
    gap: 1.33vw;
    text-align: center;
  }
  #priceArea .chFee .viewingFee .flag {
    font-size: 5.33vw;
    line-height: initial;
    font-weight: bold;
    width: 100%;
    padding: 2.66vw 1.39vw;
    border-radius: 1.6vw;
    text-align: center;
    margin: 0 auto;
    word-break: break-all;
  }
  #priceArea .chFee2 .viewingFee .flag {
    background: #0099FF;
    color: #fff;
  }
  #priceArea .chFee .viewingFee .price {
    font-size: 5.33vw;
    line-height: 1.3;
    font-weight: bold;
  }
  #priceArea .chFee .viewingFee .price .fontLearge {
    font-size: 13.33vw;
    line-height: 1.3;
    font-weight: bold;
  }
  #priceArea .chFee2 .viewingFee .price .fontLearge {
    color: #0099FF;
  }
  #priceArea .chFee .viewingFee .price .fontSmall {
    font-size: 3.46vw;
    line-height: 1.3;
    font-weight: bold;
  }
  #priceArea .chFee .annotation {
    font-size: 4vw;
    line-height: 1.5;
    text-align: center;
    margin-top: 2.66vw;
  }
  #priceArea .chFee .mustReadbox {
    width: 100%;
    margin: 2.66vw auto 0;
    display: none;
  }
  #priceArea .flexWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8vw;
  }
  #priceArea .priceInfo2 .flexWrapper {
    padding: 0 5.33vw;
  }
  #priceArea .flexWrapper .c-btn {
    width: 100%;
  }
  #priceArea .flexWrapper .c-btn a {
    max-width: none;
    width: 100%;
    font-size: 4.26vw;
    line-height: 1.5;
    margin: 0 auto;
  }
  #priceArea .priceInfo1 .flexWrapper .c-btn a {
    height: 21.33vw;
    border: 0.53vw solid;
  }
  #priceArea .priceInfo2 .flexWrapper .c-btn a {
    height: 16vw;
  }
  .fw .flexWrapper .c-btn--blueline a:after, .fw .flexWrapper .c-btn--blueline button:after {
    background: url(/global/assets/images/icon/icon_arrow-a_blue.svg) no-repeat center center;
    background-size: 100% auto;
    width: 5.33vw;
    height: 5.33vw;
    right: 4vw;
  }
  #priceArea .priceInfo2 .img {
    display: flex;
    justify-content: center;
    margin: 0 0 9.33vw;
  }
  #priceArea .priceInfo2 .img img {
    width: 96vw;
    margin: 0 auto;
  }
  #priceArea .mustReadbox {
    background: #fff;
    color: #222222;
    box-sizing: border-box;
    border: 0.53vw solid #D3D3D3;
    margin: 0 5.33vw 13.33vw;
  }
  #priceArea .mustReadbox dl {
    margin: 0;
  }
  #priceArea .mustReadbox dl dt {
    position: relative;
    padding: 2.5vw 11.5vw 2.5vw 9vw;
    font-size: 3.7vw;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
  }
  #priceArea .mustReadbox dl dt::before {
    content: "";
    width: 6.66vw;
    height: 6.66vw;
    position: absolute;
    top: 50%;
    left: 5.92vw;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: url(/program/st/promo/generator_common/img/payment_icon01.png) no-repeat center center;
    background-size: contain;
  }
  #priceArea .mustReadbox dl dt::after {
    content: "";
    width: 7.19vw;
    height: 7.19vw;
    background: #0099ff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 0vw;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  #priceArea .mustReadbox dl dt > span::before {
    content: "";
    width: 4vw;
    height: 0.53vw;
    background: #ffffff;
    position: absolute;
    top: 50%;
    right: 3.13vw;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  #priceArea .mustReadbox dl dt > span::after {
    content: "";
    width: 4vw;
    height: 0.53vw;
    background: #ffffff;
    position: absolute;
    top: 50%;
    right: 3.13vw;
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
    -ms-transform: translate(-50%, -50%) rotate(-90deg);
    transform: translate(-50%, -50%) rotate(-90deg);
    transition: all .5s;
    z-index: 1;
  }
  #priceArea .mustReadbox dl dt.is-open > span::after {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    -ms-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  #priceArea .mustReadbox dl dd {
    display: none;
    padding: 0;
    color: #888;
    font-size: 3.4vw;
    line-height: 1.57;
    border-top: 1px solid #0099ff;
  }
  #priceArea .mustReadbox dl dd .cautionTable {
    border: none;
    width: 100%;
    border-spacing: 0px;
    margin: 0 auto;
  }
  #priceArea .mustReadbox dl dd .cautionTable th {
    background-color: #09f;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: #fff;
    padding: 3vw 1vw;
    width: 25%;
  }
  #priceArea .mustReadbox dl dd .cautionTable td {
    font-size: 3vw;
    padding: 1.4vw;
    border-bottom: 1px solid #ccc;
  }
  #priceArea .mustReadbox dl dd .cautionTable td .icon_type_01, #priceArea .mustReadbox dl dd .cautionTable td .icon_type_02 {
    margin: 0.8vw 0 0;
    padding: 0 0 0 1rem;
    color: #888;
    line-height: 1.57;
  }
  #priceArea .mustReadbox dl dd .cautionTable td .icon_type_01::before {
    content: "※";
    margin-left: -1rem;
  }
  #priceArea .mustReadbox dl dd .cautionTable tr:last-child th,
  #priceArea .mustReadbox dl dd .cautionTable tr:last-child td {
    border-bottom: none;
  }
}

